/*
  From https://elvery.net/demo/responsive-tables/
*/

@media only screen and (max-width: 48em) {
  /* Force table to not be like tables anymore */
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-responsive table {
    margin: 0 auto;
    max-width: 500px;
  }

  .table-responsive tr {
    /* border: 1px solid #ccc;
    border-radius: 8px; */
    margin-bottom: 2rem;
    overflow: hidden;
  }

  .table-responsive td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 45%;
    white-space: normal;
  }

  .table-responsive td:not(:last-child) {
    border-bottom: 1px solid #edf2f7;
  }

  .table-responsive td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    width: 40%;
    padding-right: 1em;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #a0aec0;
  }

  /*
	Label the data
	*/
  .table-responsive td:before {
    content: attr(data-title);
  }
}
